.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

a {
  color: #fffb00;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
  align-items: center;
}

.footer {
  background-color: #081e3f;
  color: #ffcc00;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #081e3f;
  color: #ffcc00;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #ffcc00;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-light {
  background-color: #ffcc00;
  color: #081e3f;
}

.breadcrumb a:link,
.breadcrumb a:visited,
.breadcrumb a:hover,
.breadcrumb a:active {
  color: #000000;
}

#c-address,
#c-address a:visited {
  color: #000000;
}

#c-address a:link {
  color: #008cff;
}

#c-address a:hover,
#c-address a:active {
  color: #003cff;
}

#card-glance {
  background-color: #081e3f;
  color: #ffcc00;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

#navtabs a:link,
#navtabs a:hover,
#navtabs a:active,
#navtabs a:visited {
  color: #000000;
}